<a href="https://colab.research.google.com/github/kalpnaponnuswamy/ML_Assignments/blob/main/knn_drug200.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix,classification_report
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/balaji2v/Inceptez_Batch19/main/drug200.csv")
df

In [ ]:
df["Drug"].value_counts()

In [ ]:
df.shape

In [ ]:
df.describe(include='all').T

In [ ]:
df.head()

In [ ]:
df["Cholesterol"].value_counts()

In [ ]:
df["BP"].value_counts()

In [ ]:
df["Drug"].value_counts()

In [ ]:
df['Cholesterol'] = df['Cholesterol'].map({'HIGH': 1, 'NORMAL': 2})

df

In [ ]:
df['BP'] = df['BP'].map({'HIGH': 1, 'NORMAL': 0 ,'LOW' :3})

df

In [ ]:
df['Drug'] = df['Drug'].map({'drugA': 1, 'drugB': 2, 'drugC': 3, 'drugX': 4, 'DrugY': 5})

df

In [ ]:
df['Sex'].value_counts()

In [ ]:
df['Sex'] = df['Sex'].map({'M': 1, 'F': 0})

df

In [ ]:
scalar = StandardScaler()

In [ ]:
X = df.iloc[:,:-1]

In [ ]:
X = X.astype('float')

In [ ]:
X.head(1)

    Age  Sex   BP  Cholesterol  Na_to_K
0  23.0  0.0  1.0          1.0   25.355

In [ ]:
y = df.iloc[:,-1]

In [ ]:
y = df.iloc[:,-1]

In [ ]:
X_train,X_test, y_train,y_test = train_test_split(X,y,test_size=.3, random_state=2 )

In [ ]:
X_train

In [ ]:
scalar.fit(X_train)

In [ ]:
X_train_scl = scalar.transform(X_train)

In [ ]:
X_test_scl = scalar.transform(X_test)

In [ ]:
X_train_scl

In [ ]:
X_test

In [ ]:
scalar.mean_

array([44.24285714,  0.56428571,  1.35714286,  1.5       , 15.84843571])

In [ ]:
knn = KNeighborsClassifier(n_neighbors = 3)

In [ ]:
knn

KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(X_train_scl,y_train)

KNeighborsClassifier(n_neighbors=3)

In [ ]:
knn.fit(X_train,y_train)

In [ ]:
y_pred_train = knn.predict(X_train_scl)
y_pred_test = knn.predict(X_test_scl)

In [ ]:
accuracy_score(y_pred_train,y_train )

In [ ]:
accuracy_score(y_pred_test,y_test)

In [ ]:
confusion_matrix(y_pred_train,y_train)

In [ ]:
confusion_matrix(y_pred_test,y_test)

In [ ]:
print(classification_report(y_train,y_pred_train))

In [ ]:
print (classification_report(y_test,y_pred_test))