<a href="https://colab.research.google.com/github/kalpnaponnuswamy/inceptez_Assignments/blob/main/LinearRegression_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, mean_absolute_percentage_error, r2_score

In [ ]:
lr_2 = pd.read_csv("https://raw.githubusercontent.com/nursnaaz/25DaysInMachineLearning/master/18%20-%20Day%20-%2018%20-%20Linear%20Regression%20Practise%20Python/USA_Housing.csv")

In [ ]:
lr_2.head()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386

In [ ]:
lr_2.shape

(5000, 7)

In [ ]:
lr_2.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Avg. Area Income,5000.0,NaN,NaN,NaN,68583.108984,10657.991214,17796.63119,61480.562388,68804.286404,75783.338666,107701.748378
Avg. Area House Age,5000.0,NaN,NaN,NaN,5.977222,0.991456,2.644304,5.322283,5.970429,6.650808,9.519088
Avg. Area Number of Rooms,5000.0,NaN,NaN,NaN,6.987792,1.005833,3.236194,6.29925,7.002902,7.665871,10.759588
Avg. Area Number of Bedrooms,5000.0,NaN,NaN,NaN,3.98133,1.234137,2.0,3.14,4.05,4.49,6.5
Area Population,5000.0,NaN,NaN,NaN,36163.516039,9925.650114,172.610686,29403.928702,36199.406689,42861.290769,69621.713378
Price,5000.0,NaN,NaN,NaN,1232072.654142,353117.626581,15938.657923,997577.135049,1232669.377966,1471210.204212,2469065.594175
Address,5000,5000,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
lr_2.isnull().sum()

Avg. Area Income                0
Avg. Area House Age             0
Avg. Area Number of Rooms       0
Avg. Area Number of Bedrooms    0
Area Population                 0
Price                           0
Address                         0
dtype: int64